body {
    margin: 0;
    padding-top: 90px;
    margin-bottom: 60px;
    background-color: #f4f6f8;
    text-align: center;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(61, 162, 245);
    color: rgb(243, 180, 8);
    padding: 10px 50px;
    box-sizing: border-box; /* organiza o padding */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80px;
    z-index: 1000;
}

/* texto e logo */
header .brand {
    display: flex;
    align-items: center;
    gap: 15px; /* espaço entre logo e texto */
}

/* imagem */
header .brand img {
    width: 150px;
    height: 65px;
    object-fit: cover; /* proporção da imagem */
    border-radius: 8px;
}

header .brand-text h1 {
    margin: 0;
    font-size: 1.1rem; /* tamanho da fonte */
}

header .brand-text h3 {
    margin: 0;
    font-size: 0.85rem;
    font-weight: 400;
}

nav {
    margin-top: 0;
    padding: 10px 0px;
    background-color: #0f79c6;
    display: flex;
    justify-content: center;
    gap: 1rem; /* espaço entre os links */
    position: sticky; /* fixa o nav na posição */
    top: 80px;
    z-index: 900; /* fica na frente dos elementos */
}

nav a {
    color: rgb(243, 180, 8);
    text-decoration: none;
    padding: 8px 14px;
    border-radius: 4px;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.25);
}


/* estilizando o FOOTER */
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(61, 162, 245);
    color: rgb(243, 180, 8);
    padding: 10px 10px;
    box-sizing: border-box; /* organiza o padding */
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    z-index: 1000;
}

footer a {
    color: rgb(243, 180, 8);
    text-decoration: none;
    margin-right: 10px;
}

footer h4 {
    margin: 0;
    font-size: 0.9rem;
}

footer ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

footer ul li a {
    color: rgb(243, 180, 8);
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 4px;
}

footer ul li a:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

footer p {
    margin: 0;
    font-size: 0.8rem;
}


