/* estilo do corpo do html geral */
body{
    font-family: 'MEDievalSharp', cursive;
    background-color: black;
    color: black;
    text-align: left;
}

/*estilos das seções*/
section{
    width: 70%;
    margin: 40px auto;
    padding: 20px;
    background-color: rgba(red, green, blue, alpha);
    border-radius: 10px;
   
}

/*estilos dos títulos*/
h1,h2,h3{
    font-family: Georgia, 'Times New Roman', serif;
    color: #c9a227;
}

/*estilos dos links*/
a{
    color: lightblue;
    text-decoration: none; /*remove as linhas dos links*/
}

a:hover{ /*muda a cor qyando passa o mouse*/
    color: gold;
}

/*posição e a forma que a imagem é colocada no fundo da tela*/
body{
    background-image: url("https://images3.alphacoders.com/869/869197.jpg");
    background-size: cover; /*faz a imagem cobrir a tela*/
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /*faz a imagem ficar fixa*/
}

/*destaca a seção quando passa o mouse/ scale: indica o quanto vai crescer*/
section:hover{/*seleciona as seções, manos a do áudio.*/
    transform: scale(1.05);
}

/*controla o botão do áudio*/
section#audio{
    position: fixed;
    top: 10px;
    right: 10px;
    inline-size: 280px;
}